.box {
    width: 600px;
    height: 400px;
    margin: 20px;
}

.box1 {
    background: url(./3b7103861204d9125273406681c85a6e.jpeg)no-repeat center / 100% 100%;
}

.box2 {
    background: url(./QQ图片20211119082918.jpg)no-repeat center / 100% 100%;
}

.box3 {
    background: url(./QQ图片20210907133356.jpg)no-repeat center / 100% 100%;
}